/*
Theme Name: phimath Monza
Theme URI: https://phimath.de
Author: phimath
Author URI: https://phimath.de
Description: Custom design to incorporate desired design into WordPress environment.
Version: 1.1
License: GNU General Public License v3 or later
License URI: LICENSE
Text Domain: phimath

Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #434343;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    color: #333;
    font-family: Roboto;
    font-weight: 300;
}

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0;
    padding: 20px 20px 1px 20px;
    margin-bottom: 15px;
    border: 3px dashed #ddd;
    font-style: italic;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #ad8353;
}

a:visited {
    color: #000;
}

a:hover, a:focus, a:active {
    color: #ad8353;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Social nav */

.social-navigation {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 1em;
}

.social-navigation ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
}

.social-navigation li {
    display: inline;
}

.social-navigation a {
   /* background-color: #767676;*/
    -webkit-border-radius: 32px;
    border-radius: 32px;
    color: #fff;
    display: inline-block;
    height: 32px;
    margin: 0 1em 0.5em 0;
    text-align: center;
    width: 32px;
}


.social-navigation a:hover,
.social-navigation a:focus {
    /*background-color: #333;*/
    border: 3px #bbb solid;
}

.social-navigation .icon {
    height: 16px;
    top: 12px;
    width: 16px;
    vertical-align: top;
}

/*
 * Custom icons
 */

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
## Site Title
--------------------------------------------------------------*/
.site-title {
    margin-bottom: 10px;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.site-title a {
    text-decoration: none;
    color: #333;
}

/*--------------------------------------------------------------
## Site Navigation
--------------------------------------------------------------*/
.main-navigation {
    background: #f5f5f5;
}

.main-navigation a {
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.main-navigation .nav-menu > li > a {
    padding: 20px 0;
}

.main-navigation .sub-menu {
    text-align: left;
}

.main-navigation .nav-menu {
    text-align: center;
}

.main-navigation .nav-menu > li {
    display: inline-block;
    float: inherit;
    margin: 0 20px;
}

.main-navigation .nav-menu > li:first-child {
    margin-left: 0;
}

.main-navigation .nav-menu > li:last-child {
    margin-right: 0;
}

.main-navigation ul ul {
    background: #f5f5f5;
}

.main-navigation ul ul a {
    text-transform: inherit;
    padding: 10px 10px;
    border-bottom: 1px solid #dfdfdf;
    width: 215px;
}

.main-navigation ul ul li:last-child > a {
    border: none;
}

/*--------------------------------------------------------------
## Site Content
--------------------------------------------------------------*/
.site-branding {
    text-align: center;
    margin: 70px 0;
}

.site-content {
    margin-top: 50px;
}

.site-description {
    color: #999;
}

/*--------------------------------------------------------------
## Article
--------------------------------------------------------------*/
.post {
    margin-bottom: 60px;
}

.post .entry-header, .post .entry-content, .post .entry-more {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.entry-content, .entry-header {
    margin-top: 20px;
}

.single .post .entry-content {
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
}

.posted-on, .posted-on a {
    color: #999;
}

.post-tags a {
    color: #999;
}

.entry-meta, .entry-meta span, .entry-meta a {
    color: #999;
}

.page.type-page a {
    color: #ad8353;
}

.entry-cat a {
    color: #ad8353;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.entry-title {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 26px;
    word-wrap: break-word;
}

.entry-title a {
    color: inherit;
    text-decoration: none;
}

.entry-title a:hover {
    opacity: 0.7;
}

.entry-more {
    margin-top: 10px;
}

.entry-more a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #ad8353;
    border: 1px solid #eee;
    border-radius: 10000px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 400;
}

.entry-more a:hover, .entry-share .social-icon:hover {
    background: #ad8353;
    color: #fff;
    border-color: #ad8353;
}

.entry-share {
    margin-bottom: 35px;
    text-align: center;
}

.entry-share .social-icon {
    display: inline-block;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 1000px;
    margin: 0 3px;
    color: #000;
    font-size: 13px;
}

/*--------------------------------------------------------------
## Widget
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    border: 1px solid #ddd;
    padding: 20px;
}

.widget-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 23px;
    margin-bottom: 23px;
}

.widget li {
    margin-bottom: 10px;
}

.widget li:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
.monza-pagination .pagination {
    text-align: center;
}

.monza-pagination .pagination .nav-links {
    width: 100%;
}

.monza-pagination .page-numbers {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #333;
    background: #f5f5f5;
    border-radius: 10000px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    line-height: 50px;
    font-weight: 400;
}

.monza-pagination .page-numbers.current {
    color: #fff;
    background: #ad8353;
}

/*--------------------------------------------------------------
## Button
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: #ad8353;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    border: none;
    padding: 10px 20px;
    border-radius: 10000px;
}

.widget-area .widget ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.widget-area .widget ul ul {
    padding-left: 15px;
}

.widget-area .widget a {
    color: #ad8353;
}

/*----- FEATURED SLIDER -----*/
.featured-area {
    margin-bottom: 50px;
    max-height: 600px;
    overflow: hidden;
}

.featured-area .slide-item {
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.featured-area .slide-item-text {
    background: #ffffff none repeat scroll 0 0;
    max-width: 400px;
    overflow: hidden;
    padding: 50px 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.featured-area .owl-dots {
    bottom: 80px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.featured-area .owl-dot {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    margin: 0 5px;
    width: 13px;
}

.featured-area .owl-dot.active {
    background-color: #333;
}

.featured-area .entry-title a {
    color: inherit;
    font-size: 20px;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 100px 0;
    margin-top: 50px;
}

.site-footer a {
    color: #ad8353;
}

/*--------------------------------------------------------------
## Single: Nav links
--------------------------------------------------------------*/
.post-navigation {
    margin-top: 50px;
}

.post-navigation .nav-links {
    border: 1px solid #ddd;
    width: 100%;
    overflow: hidden;
    padding: 15px 30px;
    border-radius: 10000px;
}

.post-navigation .nav-links .nav-previous {
    border-right: 1px solid #ddd
}

.post-navigation .nav-links a {
    color: #ad8353;
}

#comments {
    margin-top: 50px;
}

@media (max-width: 767px) {
    .post .entry-header, .post .entry-content, .post .entry-more {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-navigation .menu-toggle {
        margin: 0 auto;
        background: none;
        color: #333;
    }

    .featured-area {
        max-height: 300px;
    }

    .featured-area .slide-item {
        min-height: 300px;
    }

    .featured-area .slide-item .slide-item-text {
        padding: 20px 20px 10px;
        width: 300px;
    }

}

@media (max-width: 480px) {
    .slider .slide-item-text {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        right: inherit;
    }
}

@media (max-width: 360px) {

}

/* Custom */
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v16/QldKNThLqRwH-OJ1UHjlKGlW5qhWxg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v16/QldKNThLqRwH-OJ1UHjlKGlX5qhWxg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v16/QldKNThLqRwH-OJ1UHjlKGlZ5qg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* --------------------- */
@media print {
    #site-navigation,
    .sidebar,
    div.entry-share,
    #comments,
    nav.post-navigation,
    footer {
        display: none !important;
    }
    .col-md-9 {
        max-width: 100% !important;
        width: 100% !important;
        display: block;
        flex: 0 0 100%;
    }
    #content .container {
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 !important;
    }
    .site-branding,
    #content {
        margin: 0 !important;
    }
    a {
        text-decoration: none !important;
    }
}
/* --------------------- */
article * {
    text-align: justify;
}
article code.block {
    text-align: left;
    display: block;
}
article .entry-title, article .entry-cat {
    text-align: center;
}
article ol, article ul {
    -webkit-padding-start: 20px !important;
    margin: 0;
    padding-left: 50px;
}
.wp_syntax td.code {
    background-image: none !important;
    background-color: transparent;
}
.wp_syntax pre, pre {
    font-family: 'Inconsolata', Monaco, Consolas, monospace !important;
    font-size: 15px !important;

}
.wp_syntax {
    background-color: #eee;
    border: none;
    padding: 10px;
}